﻿@model MyCakeShop.Web.Models.Cake

@{
    ViewData["Title"] = "CakesDetails";
}

<h2>The details of the cake</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MadeDate)</td>
        <td>@Html.DisplayFor(m => m.MadeDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ExpirationDate)</td>
        <td>@Html.DisplayFor(m => m.ExpirationDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LactoseFree)</td>
        <td>@Html.DisplayFor(m => m.LactoseFree)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Popularity)</td>
        <td>@Html.DisplayFor(m => m.Popularity)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MakerId)</td>
        <td>@Html.DisplayFor(m => m.MakerId)</td>
    </tr>
</table>
