﻿@model MyCakeShop.Web.Models.CakeListViewModel

<h2>Change cake details</h2>

@using (Html.BeginForm("Edit", "Cakes"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.EditedCake.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.Type)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.MadeDate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.MadeDate)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.ExpirationDate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.ExpirationDate)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.LactoseFree)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.LactoseFree)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.Popularity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.Popularity)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EditedCake.MakerId)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EditedCake.MakerId)</div>

    <input type="submit" value="SEND" />
}