﻿@model IEnumerable<MyCakeShop.Web.Models.Cake>

<h2>List of all cakes</h2>
@TempData["editResult"]
@if (Model.Count() == 0)
{
    <p>No data in the database!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Type)</th>
            <th>@Html.DisplayNameFor(m => m.First().ExpirationDate)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>
        @foreach (var cake in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => cake.Name)</td>
                <td>@Html.DisplayFor(m => cake.Type)</td>
                <td>@Html.DisplayFor(m => cake.ExpirationDate)</td>
                <td>@Html.ActionLink("[Details]", "Details", new { id = cake.Id })</td>
                <td>@Html.ActionLink("[Delete]", "Remove", new { id = cake.Id })</td>
                <td>@Html.ActionLink("[Editing]", "Edit", new { id = cake.Id })</td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Add new cake", "Add")
