﻿@model MyCakeShop.Web.Models.CakeListViewModel

@{
    ViewData["Title"] = "Crud Index";
}

<h2>CakeShop database</h2><b/>

@*<p style="color:red">
    @TempData["editResult"]
</p>*@

@*@await Html.PartialAsync("CakesEdit", Model.EditedCake)*@

@await Html.PartialAsync("CakesList", Model.ListOfCakes)
